<%
  def question_error_messages!(resource)
    return "" if resource.errors.empty?

    sentence = I18n.t("errors.messages.not_saved",
                      :count => resource.errors.count,
                      :resource => I18n.t(resource.class.model_name.human.downcase))

    messages = ""
    resource.errors.each { |attr, msg| messages = messages << content_tag(:strong, I18n.t(attr)) << " " << msg << "<br />"}

    %>
    <div id="myModal" class="reveal-modal">
      <h4 class="subheader"><%= sentence %></h2>
      <p><%= raw(messages) %></p>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <%
  end
%>
<%= form_for [@category, @question], html: { class: "custom" } do |f| %>
<%
question_error_messages!(@question)
%>
  <div class="row">
    <div class="large-12 columns" role="content">
      <%= f.label :title, "Título" %><br>
      <%= f.text_field :title, autocomplete: true, autofocus: true %>
    </div>
    <div class="large-12 columns" role="content">
      <%= f.label :description, "Descrição" %><br>
      <%= f.text_area :description, autofocus: false %>
    </div>    
  </div>

  <div class="row">
    <div class="large-12 columns">
      <% btnLbl = controller.action_name == "new" ? "Inserir" : "Atualizar" %>
      <%= f.submit btnLbl, class: "small button" %>
    </div>
  </div>
<% end %>