<%- title "Admin - Categorias" %>
<%
  @pucrs = Category.where("name = '#{QA::Application.config.main_category}'").first
  if @pucrs == nil
    Category.create!(name: "#{QA::Application.config.main_category}", description: "Pontifícia Universidade Católica do Rio Grande do Sul")
  end
%>
<h1>Categorias</h1>

<table>
  <thead>
    <tr>
      <th width="20%">Nome</th>
      <th width="55%">Descrição</th>
      <th width="5%"></th>
      <th width="5%"></th>
      <th width="5%"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td>
        <%
          strAncestors = ""
          if category.ancestors.any?
            
            category.ancestors.each do |category|
              strAncestors += category.name + " / "
            end
          end
          if strAncestors != "" %>
            <span data-tooltip class="has-tip" title="<%= strAncestors[0...-3] %>"><%= category.description %></span>
          <% else
            concat category.description
          end
        %>
        </td>
        <td><%= link_to tag("i", class: "fi-plus"), addchild_admin_category_path(category), class: 'icon', title: 'Adicionar Subcategoria' %></td>
        <% if category.name != "#{QA::Application.config.main_category}" %>
        <td><%= link_to tag('i', class: 'fi-page-edit'), edit_admin_category_path(category), class: 'icon', title: 'Editar Categoria' %></td>
        <td><%= link_to tag("i", class: "fi-trash"), admin_category_path(category), method: :delete, class: 'icon', title: 'Apagar Categoria' %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Categoria', new_admin_category_path, class: "small button" %>
