<%- title "Admin - Categoria: #{@category.name}" %>
<ul class="breadcrumbs">
  <li><%= link_to "Home", "/" %></li>
<% @category.ancestors.each do |category| %>
  <li><%= link_to category.name, category %></li>
<% end %>
  <li class="current"><%= @category.name %></li>
</ul>
<p><%= @category.description %></p>
<% if @category.has_children? %>
<div class="panel">
  <ul class="inline-list">
  <% @category.children.each do |category| %>
    <li><%= link_to category.name, category %></li>
  <% end %>
  </ul>
</div>
<% end %>
<%
  if user_signed_in?
    if current_user.user_level > 0 %>
      <%= link_to 'Editar Categoria', edit_category_path(@category), class: "small button" %><%
    end
  end
%>