<%
def getlikes(a)
  ret = ""
  Like.where("answer_id = #{a.id}").each do |like|
    u = User.find(like.user_id)
    
    ret += (ret == "" ? "" : ", ") + u.first_name + " " + u.last_name
  end
  ret
end
def monta_likes(a)
  if a.likes > 0
    raw("<span data-tooltip class=\"has-tip\" title=\"" + getlikes(a) + "\">" + a.likes.to_s + (a.likes > 1 ? " gostaram." : " gostou.") + "</span>")
  else
    ""
  end
end
%>
<% @user = answer.user_id.nil? ? nil : User.find(answer.user_id) %>
      <div class="indented comment push">
        <section class="top">
          <h6 class="byline">
            <% if !@user.nil? %>
              <%= link_to raw("<i class=\"usericon\"></i> " + @user.first_name), @user -%>
            <%else%>
              <i class="usericon"></i>Usuário Desconhecido
            <%end%>
            <small>em 
              <span class="data">
                <%= answer.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
              </span>
            </small>
          </h6>
        </section>
        <section class="content">
          <p class="justify"><%= answer.description %></p> 
        </section>
        <section class="actions">
          <ul class="inline-list">
            <li><%= monta_likes(answer) %></li>
        <% if user_signed_in?
          question = Question.find(answer.question_id) %>            
            <% likes = Like.where("user_id = #{current_user.id} and question_id = #{question.id} and answer_id = #{answer.id}").first
              if likes.nil? %>
            <li><%= link_to "Gostei", category_question_answer_like_path(question.category_id, question.id, answer.id) %></li>
            <% else %>
            <li><%= link_to "Gostei (desfazer)", category_question_answer_unlike_path(question.category_id, question.id, answer.id) %></li>
            <% end %>
            <%
              if current_user.id == answer.user_id || current_user.user_level > 0 %>
              <li><%= link_to "Editar", edit_category_question_answer_path(question.category_id, answer.question_id, answer) %></li>
              <li><%= link_to 'Apagar', category_question_answer_path(question.category_id, answer.question_id, answer), method: :delete, data: { confirm: 'Tem certeza?' } %></li><%
              end
            %>
            <% end %>
          </ul>
        </section>
        
      </div>