<% @user = question.user_id.nil? ? nil : User.find(question.user_id) %>
<article>
  <div class="row">
    <div class="large-12  small-12 columns">
      <h3><%= link_to question.title, category_question_path(question.category_id, question) %></h3>
      <div class="comment">
        <section class="top">
          <h6 class="byline">
            <% if !@user.nil? %>
              <%= link_to raw("<i class=\"usericon\"></i> " + @user.first_name), @user -%>
            <%else%>
              <i class="usericon"></i>Usuário Desconhecido
            <%end%>
            <small>em 
              <span class="data">
                <%= question.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
              </span>
            </small>
          </h6>
        </section>
        <section class="content">
          <p class="justify"><%= question.description %></p> 
        </section>
        <% if user_signed_in? %>
        <section class="actions">
          <ul class="inline-list">
            <li><%= link_to "Responder", new_category_question_answer_path(question.category_id, question) %></li>
            <%
              if current_user.id == question.user_id || current_user.user_level > 0 %>
              <li><%= link_to "Editar", edit_category_question_path(question.category_id, question) %></li>
              <li><%= link_to 'Apagar', category_question_path(question.category_id, question), method: :delete, data: { confirm: 'Tem certeza?' } %></li><%
              end
            %>
          </ul>
        </section>
        <% end %>
      </div>
      <h4>Respostas</h4>
      <% Answer.where("question_id = #{question.id}").order("likes DESC").each do |ans| %>
        <%= render '/categories/answer', answer: ans %>
      <% end %>
    </div>
  </div>
</article>
<hr />