<div class="large-12 columns">
  <ul class="breadcrumbs">
    <li><%= link_to "Home", "/" %></li>
  <% @category.ancestors.each do |category| %>
    <li><%= link_to category.name, category %></li>
  <% end %>
    <li class="current"><%= @category.name %></li>
  </ul>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @category.ancestry %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
