<%- title "Categorias" %>

<ul class="breadcrumbs">
  <li><%= link_to "Home", "/" %></li>
<% @category.ancestors.each do |category| %>
  <li><%= link_to category.name, category %></li>
<% end %>
  <li class="current"><%= @category.name %></li>
</ul>

<p><%= @category.description %></p>
<% if @category.has_children? %>
<div class="panel">
  <ul class="inline-list">
  <% @category.children.each do |category| %>
    <li><%= link_to category.name, category %></li>
  <% end %>
  </ul>
</div>
<% end %>
<% Question.all.each do |que| %>
  <%= render 'question', question: que %>
<% end %>